<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <title>Our Company</title>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
    <link rel="stylesheet" href="../stylesheet/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
<div id="container">
    <div id="header">
        <p>The IPad - discover now!</p>
    </div>
    <div id="navigation">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <a href="../index.html"  >Home</a>
                </div>
                <div class="col-sm">
                    <a href="ipad_info.html"  >More Info</a>
                </div>
                <div class="col-sm">
                    <a href="ipad_company.html"  class="active_link">Apple</a>
                </div>
                <div class="col-sm">
                    <a href="Ipad_video.html"  >The IPad</a>
                </div>
            </div>
        </div>
    </div>
    <div id="wrapper">
        <div id="content">

          <div class="container">
              <div class="row">
                  <h1> Our Company</h1>
              </div>
              <div class="row" id="appleimage">
                  <img src="../asset/apple_company.jpg"  alt="Company" style="width: 100%; height: 100%;" >
              </div>
              <div class="row">
                  <p id="hometext">
                      Apple Inc. is an American multinational technology company headquartered in Cupertino, California, that designs, develops, and sells consumer electronics, computer software, and online services. The company's hardware products include the iPhone smartphone, the iPad tablet computer, the Mac personal computer, the iPod portable media player, the Apple Watch smartwatch, the Apple TV digital media player, and the HomePod smart speaker. Apple's software includes the macOS and iOS operating systems, the iTunes media player, the Safari web browser, and the iLife and iWork creativity and productivity suites. Its online services include the iTunes Store, the iOS App Store, and Mac App Store, Apple Music, and iCloud.

                      The iPad is a line of tablet computers designed, developed, and marketed by Apple Inc., which run the iOS mobile operating system. The first iPad was released on April 3, 2010; the most recent iPad models are the iPad (8th generation), released on September 18, 2020; the iPad Air (4th generation), released on October 23, 2020; and the iPad Pro (4th generation), released on November 5, 2020. The user interface is built around the device's multi-touch screen, including a virtual keyboard. All iPads can connect via Wi-Fi; some models also have cellular connectivity.
                      The iPad runs on a custom version of iOS, which is the same operating system used on the iPhone and the iPod Touch. It features a virtual keyboard, as well as a built-in speaker and microphone, and has access to the App Store, which features over one million apps specifically designed for the iPad. The iPad also includes built-in apps for email, web browsing, photos, video, music, and more.

                      Apple Inc. is committed to providing excellent customer service and support for all of its products, including the iPad. If you have any questions or concerns about your iPad, please visit the Apple Support website or contact the company directly. Additionally, the company offers a variety of resources, including user manuals, technical support articles, and a community forum, to help you get the most out of your iPad.

                  </p>
              </div>
        </div>
        </div>
    </div>
    <div id="footer">  <div class="container">
        <div class="row">
            <div class="col-sm">
                <a class ="footernav" href="legal_notices.html" >legal notices</a>
            </div>
            <div class="col-sm">
                <a class ="footernav" href="terms_of_use.html"  >terms of use</a>
            </div>
            <div class="col-sm">
                <a class ="footernav" href="privacy_policy.html" >privacy policy</a>
            </div>
            <div id="address" class="col-sm">
                Apple Distribution <br>
                International Ltd.<br>
                Hollyhill Industrial Estate<br>
                Hollyhill, Cork<br>
                Republic of Ireland



            </div>


        </div>
        <div class="row" id="copyright">
            <p>Copyright © 2023 Alice Baumgartner All rights reserved.</p>
        </div>
    </div>
    </div>
</body>
</html>
