<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <title>The IPad</title>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
    <link rel="stylesheet" href="../stylesheet/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
<div id="container">
    <div id="header">
        <p>The IPad - discover now!</p>
    </div>
    <div id="navigation">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <a href="../index.html"  >Home</a>
                </div>
                <div class="col-sm">
                    <a href="ipad_info.html"  >More Info</a>
                </div>
                <div class="col-sm">
                    <a href="ipad_company.html"  >Apple</a>
                </div>
                <div class="col-sm">
                    <a href="Ipad_video.html" class="active_link" >The IPad</a>
                </div>
            </div>
        </div>
    </div>
    <div id="wrapper">
        <div id="content">
        <div class="containwer">
            <h1>Innovation - the IPad</h1>
            <div class="row" id="videodiv">
                <video width="320" height="240" controls>
                    <source src="../asset/Ipad.mp4" type=video/mp4>
                </video>
            </div>
            <div class="row">
                <p id="hometext">
                    Introducing the new Apple iPad - the ultimate device for work and play. With its sleek and lightweight design, the iPad is perfect for on-the-go productivity and entertainment.

                    The iPad features a large, high-resolution display that brings your photos, videos, and documents to life. The advanced A12 chip provides fast performance and smooth multitasking, so you can easily switch between apps and tasks without any lag.

                    The iPad also has a long battery life, so you can stay connected and productive all day long. And with the option to add cellular connectivity, you can stay connected wherever you go.

                    The iPad is packed with features that make it perfect for work and play. You can use it to take notes and create documents with the Apple Pencil, or use it to edit videos and photos with the powerful editing tools. The iPad also has a wide range of apps available, from productivity tools to games and entertainment.

                    So whether you're working on a project, watching a movie, or playing your favorite game, the new Apple iPad has you covered. Order yours today and experience the ultimate device for work and play.
                </p>
            </div>
        </div>
        </div>
    </div>
    <div id="footer">  <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="legal_notices.html" >legal notices</a>
            </div>
            <div class="col-sm">
                <a href="terms_of_use.html"  >terms of use</a>
            </div>
            <div class="col-sm">
                <a href="privacy_policy.html" >privacy policy</a>
            </div>
            <div id="address" class="col-sm">
                Apple Distribution <br>
                International Ltd.<br>
                Hollyhill Industrial Estate<br>
                Hollyhill, Cork<br>
                Republic of Ireland



            </div>


        </div>
        <div class="row" id="copyright">
            <p>Copyright © 2023 Alice Baumgartner All rights reserved.</p>
        </div>
    </div>
    </div>
</body>
</html>
