<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <title>legal notices</title>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
  <link rel="stylesheet" href="../stylesheet/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
<div id="container">
  <div id="header">
    <p>The IPad - discover now!</p>
  </div>
  <div id="navigation">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <a href="../index.html"  >Home</a>
        </div>
        <div class="col-sm">
          <a href="ipad_info.html"  >More Info</a>
        </div>
        <div class="col-sm">
          <a href="ipad_company.html" >Apple</a>
        </div>
        <div class="col-sm">
          <a href="Ipad_video.html"  >The IPad</a>
        </div>
      </div>
    </div>
  </div>
  <div id="wrapper">
    <div id="content">

      <div class="container">
        <div class="row">
          <h1> Legal notices</h1>
        </div>
        <div class="row">
          <p id="hometext">
            Apple Inc. is a multinational technology company that designs, develops, and sells consumer electronics, computer software, and online services. As such, their legal notice or website disclaimer will likely include information related to the use of their products and services, as well as their intellectual property rights
            Information on the use of Apple's products and services, including any terms and conditions of use and any applicable warranties
            A disclaimer of liability for any errors or inaccuracies in the information provided on the website
            Information on the use of cookies and other tracking technologies on the website
            A statement regarding intellectual property rights, including information on the use of copyrighted and trademarked materials
            Information on any additional legal or regulatory requirements that apply to Apple's products and services
            Please note that this is just an example and that the actual legal notice of apple may vary depending on the country and region, also it's always best to consult with a legal professional for specific legal advice for your business or website.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">  <div class="container">
    <div class="row">
      <div class="col-sm">
        <a href="legal_notices.html"  class="active_link">legal notices</a>
      </div>
      <div class="col-sm">
        <a href="terms_of_use.html"  >terms of use</a>
      </div>
      <div class="col-sm">
        <a href="privacy_policy.html" >privacy policy</a>
      </div>
      <div id="address" class="col-sm">
        Apple Distribution <br>
        International Ltd.<br>
        Hollyhill Industrial Estate<br>
        Hollyhill, Cork<br>
        Republic of Ireland



      </div>


    </div>
    <div class="row" id="copyright">
      <p>Copyright © 2023 Alice Baumgartner All rights reserved.</p>
    </div>
  </div>
  </div>
</body>
</html>
